@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: papayawhip;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.top-section {
  margin-top: 5vh;
  border-radius: 5vh;
  display: flex;
  height: 35vh;
  width: 50vw;
  border: 1px solid black;
  color: black;
  overflow: hidden;
}

.header-top-section-text {
  display: flex;
  margin-left: 1.5vh;
  font-size: 1.8vh;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.header-top-section-text-links {
  margin-top: -3vh;
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.header-top-section-text-links a,
h5 {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-top-section-image-container {
  overflow: hidden;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-section-image-container img {
  height: 30vh;
}

.bottom-section {
  display: flex;
  height: auto;
  width: 80vw;
  border-radius: 5vh;
  gap: 2vw;
  justify-content: center;
  background-color: transparent;
  color: black;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  border: 1px solid darkgreen;
  border-radius: 15%;
}

.project-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5vw;
}
.project-logo-container {
  background-color: #506f8f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: black;
  border-radius: 50%;
}
.project-logo {
  height: 4vh;
  width: 2vw;
}

.project-card-video-container {
  width: 12vw;
  border-radius: 3vh;
  width: 13vw;
  margin-right: 2vw;
  margin-left: 2vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 2px double black;
}
.project-card-video-container a {
  height: 100%;
  width: 25vw;
}
.project-card-video-container video {
  height: 100%;
  width: 100%;
}
/* Hello stranger, should you be here? */
h5 {
  font-size: 2vh;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.project-description {
  font-size: 1.5vh;
  text-align: center;
}

.languages {
  height: 5vh;
  display: flex;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  gap: 1vh;
  width: 10vw;
  border-radius: 5vh;
}

.language-logo {
  height: 50%;
}

@media (max-width: 900px) {
  .bottom-section {
    display: none;
  }
  .top-section {
    height: 70vh;
    width: 50vw;
    justify-content: center;
    place-items: center;
    text-justify: auto;
  }
  .header-top-section-image-container img {
    display: none;
  }
}

@media (max-width: 1300px) {
  .project-logo {
    display: none;
  }
}
